.accordion {
    border-radius: 16px;
    border: 1px solid $c-100-gray;
    background-color: #fff;
    overflow: hidden;

    &.open {

        .content {
            display: block;
        }

        .accordion-header .icon {
            
                transition: .2s;
                transform: rotate(90deg);
            
        }
    }

    &-header {
        width: 100%;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .content {
        padding: 0 16px 16px 16px;
        display: none;
        color: $c-600-gray;
    }
}