.product-card {
    max-width: 252px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    z-index: 15;

    &.absence {
        .product-card__link {
            pointer-events: none;
        }

        .product-card__preview {
            .product-card__img {
                opacity: 0.8;
            }

            &::after {
                content: "Нет в наличии";
                padding: 10px 0 12px 0;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
                text-align: center;
                background-color: #fff;
                font-size: 14px;
                font-weight: 700;
                opacity: 0.5;
            }
        }

        .product-card__price {
            color: $c-400-gray;
        }

        .add-to-cart {
            color: $c-400-gray;
            pointer-events: none;
        }
    }

    &__link {
        z-index: 15;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__preview {
        width: 100%;
        height: 336px;
        position: relative;
        border-radius: 8px;
        overflow: hidden;

        .add-to-fav {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            z-index: 16;
            top: 16px;
            right: 16px;
            padding: 8px;
            background-color: #ffffff55;

            &:hover {
                background-color: #ffffff88;
            }

            &:active {
                background-color: #ffffff;
            }

        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__discount {
        position: absolute;
        top: 16px;
        left: 16px;
        padding: 8px;
        border-radius: 4px;
        background-color: $c-primary;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
    }

    &__name {
        @extend .t-product-card__name;
        color: $c-700-gray;
    }

    &__info {
        display: flex;
        gap: 8px;
    }

    &__rate,
    &__reviews {
        display: flex;
        align-items: center;
        gap: 4px;

        .icon {
            fill: $c-600-gray;
        }

        &>span {
            font-size: 14px;
            font-weight: 500;
            color: $c-600-gray;
        }
    }

    &__footer {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    &__price {
        color: $c-800-gray;
    }

    &__price-discount {
        font-size: 12px;
        line-height: 12px;
        font-weight: 300;
        text-decoration: line-through;
        color: $c-400-gray;
    }

    .add-to-cart {
        margin: 0 0 0 16px;
        position: relative;
        z-index: 16;
        color: $c-primary;
        font-size: 14px;
        font-weight: 600;
    }

    @media screen and (max-width: 450px) {
        & {
            max-width: 156px;
        }

        &__preview {
            height: 208px;
        }

        &__footer > div span{
            display: block;
        }
    }
}