.gallery_carousel {
    .splide {
        border-radius: 16px;
        overflow: hidden;
    }

    .gallery__slide {
        width: 100%;
        height: 544px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}