.goods {

    // ROW GOODS STYLES 
    &-section {
        display: flex;
        flex-direction: column;
        gap: 80px;

        & .goods-row {
            margin: 0 !important;
        }
    }

    &-row__header {
        display: flex;
        align-items: baseline;
        gap: 16px;
        margin: 0 0 16px 0;

        .t-link {
            color: $c-700-gray;
        }
    }

    &__wrapper {
        flex: 1 1 auto;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 16px;

        li {
            flex: 1 1 200px;
            display: flex;
            justify-content: center;
        }

        @media screen and (max-width: 450px) {
            & {
                li {
                    flex: 1 1 140px;
                }
            }
        }

    }

    @media screen and (max-width: 1096px) {
        &-row {
            .goods__list {
                li:last-child {
                    display: none;
                }
            }
        }

    }

    @media screen and (max-width: 880px) {
        &-row {
            .goods__list {
                li:nth-child(4) {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 880px) {
        &-row {
            .goods__list {
                li:nth-child(3) {
                    display: none;
                }
            }
        }
    }


    // FULL PAGE GOODS STYLES
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 16px 0;
        margin: 0 0 32px 0;

        .goods__sort {
            label {
                font-size: 14px;
            }

            select {
                outline: none;
                border: none;
                font-size: 14px;
                background: none;
            }
        }
    }

    &__title {
        display: flex;
        gap: 16px;
        align-items: baseline;
    }

    &__container {
        display: flex;
        gap: 16px;
    }

    &__footer {
        padding: 64px 0;
        display: flex;
        justify-content: center;
    }
}