.t-h1,
.t-h2,
.t-h3,
.t-h4,
.t-h5 {
    font-family: $f_primary;
    letter-spacing: 0.03em;
}

.t-h1 {
    @include text_style(40px, 700, 48px);
}

.t-h2 {
    @include text_style(32px, 700, 40px);
}

.t-h3 {
    @include text_style(28px, 700, 32px);
}

.t-h4 {
    @include text_style(24px, 700, 32px);
}

.t-h5 {
    @include text_style(18px, 700, 24px);
}

.t-h6 {
    @include text_style(16px, 500, 24px);
}

.t-p,
.t-link {
    @include text_style(14px, 400, 24px);
}

.t-link {
    cursor: pointer;
    color: $c-primary;
}

.t-button {
    @include text_style(15px, 600, 24px);
}

.t-descr {
    @include text_style(15px, 300, 130%);
}

.t-caption {
    @include text_style(12px, 500, 165%);
}

.t-nav, .t-small {
    @include text_style(14px, 300, 24px);
}

.t-breadcrumb {
    @include text_style(12px, 400, 16px);
}

.t-label, .t-product-card__name, .t-pagination-link {
    @include text_style(14px, 500, 16px);
    display: block;
}

.t-product-card__price {
    @include text_style(16px, 600, 24px);
}

.t-center {
    text-align: center;
}