//  ==================== COLORS ==================== 

$c-primary: #C91F37;
$c-accent: #F5AF1F; 
$c-100-gray: #E8E8E8;
$c-200-gray: #BFBFBF;
$c-400-gray: #9E9E9E;
$c-600-gray: #6B6B6B;
$c-700-gray: #414141;
$c-800-gray: #262626;
$c-btn-primary: #ffffffeb;
$c-body: #F6F7F8;

$c-filter-bg: #F2F2F2;

//  ==================== COLORS ==================== 





//  ==================== FONTS ==================== 

$f_primary: "Inter", "Arial", "Verdana", sans-serif;

//  ==================== FONST ==================== 





//  ==================== STYLES ==================== 

$s-card: 0px 4px 16px rgba(0, 0, 0, 0.1);
$b-filter: 1px solid #DEDEDE;

//  ==================== STYLES ==================== 
