//  ==================== COLORS ==================== 

$c-primary: #C91F37;
$c-accent: #F5AF1F; 
$c-100-gray: #262626;
$c-200-gray: #414141;
$c-400-gray: #6B6B6B;
$c-600-gray: #9E9E9E;
$c-700-gray: #BFBFBF;
$c-800-gray: #E8E8E8;
//  ==================== COLORS ==================== 





//  ==================== FONTS ==================== 

$f_primary: "Inter", "Arial", "Verdana", sans-serif;

//  ==================== FONST ==================== 





//  ==================== STYLES ==================== 

$s-card: 0px 12px 35px rgba(0, 0, 0, 0.14);
$s-card-2: 0px 6px 40px -3px rgba(0, 0, 0, 0.08);

//  ==================== STYLES ==================== 





//  ==================== SIZES ==================== 

$sz-btw-block: 164px 0;

//  ==================== SIZES ==================== 




//  ==================== SIZES ==================== 

$bp-laptop: 1080px;
$bp-phone: 512px;   

//  ==================== SIZES ==================== 