.header {
    position: relative;

    .js-close-sidebar {
        display: none;
    }

    //  Top of header
    &__info {
        order: 1;

        * {
            color: $c-600-gray;
        }

        .wrapper {
            padding: 8px 0;
            display: flex;
            align-items: baseline;
            flex-flow: wrap;
            gap: 8px 40px;
        }

        .js-call {
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 0 8px 0 0;
            border: 1px solid $c-primary;
            border-radius: 8px;

            .t-caption {
                color: $c-primary;
            }

            .icon {
                fill: $c-primary;
            }
        }

    }

    &__exchange-info {
        display: flex;
        gap: 16px;
    }

    &__contact {
        margin: 0 0 0 auto;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    // Middle of header

    &__main {
        position: absolute;
        top: 42px;
        width: 100%;
        height: 74px;
        background-color: white;
        border-bottom: 1px solid $c-100-gray;

        .wrapper {
            padding: 12px 0;
            display: flex;
            align-items: center;
        }
    }

    &__burger {
        display: none;
    }

    &__searchbar {
        flex-grow: 1;
        padding: 0 40px;

        .text_field-input {
            border-radius: 16px;
        }
    }

    &__menu {
        width: 210px;
        display: flex;
        justify-content: center;
    }

    &__personal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        .wrapper {
            position: relative;
        }

        &-menu {
            position: absolute;
            top: 56px;
            right: 0;
            width: 218px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
    }

    &__menu-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            font-weight: 500;
            color: $c-600-gray;
        }

        .cart_count,
        .fav_count {
            position: absolute;
            top: -8px;
            right: 0;
            padding: 4px;
            min-width: 20px;
            text-align: center;
            border-radius: 10px;
            font-size: 10px;
            font-weight: 600;
            color: $c-btn-primary;
            background-color: $c-primary;
            box-shadow: 0 0 0 3px white;
        }

        .fav_count {
            right: 8px;
        }
    }

    // Bottom of header

    &__navigator {
        order: 2;
        background-color: #fff;

        .wrapper {
            padding: 10px 0;
            display: flex;
            align-items: center;
            position: relative;
        }

        .nav {
            margin: 0 auto;

            &__list {
                display: flex;
                gap: 16px 48px;
            }
        }
    }

    &__catalog {

        .js-catalog {
            display: flex;
            align-items: center;
            gap: 8px;

            * {
                color: $c-btn-primary;
            }
        }

        .catalog {
            display: none;
            overflow: hidden;
            position: absolute;
            padding: 8px;
            top: 84px;
            left: 0;
            z-index: 1500;
            min-width: 736px;
            max-width: 836px;
            height: 392px;
            background-color: #fff;
            border-radius: 16px;

            &.active {
                display: block;
            }

            a {

                &,
                span {
                    @extend .t-label;
                    font-weight: 400;
                }
            }

            &__title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 160px;
                padding: 12px;
                border-radius: 8px;

                span {
                    font-weight: 600 !important;
                }
                

                &:hover {
                    background-color: #F0F0F0;
                }
                
                &~.catalog__categories-list.active {
                    visibility: visible;
                }

                .icon {
                    display: none;
                }
            }

            &__categories {
                &-list {
                    display: flex;
                    visibility: hidden;
                    position: absolute;
                    top: 8px;
                    left: 168px;
                    right: 8px;
                    
                    flex-flow: column wrap;
                    max-height: 416px;
                    gap: 8px;

                    &:hover {
                        visibility: visible;
                    }
                }

                &-item {

                    a {
                        border-radius: 8px;
                        padding: 12px;

                        &:hover {
                            background-color: #F0F0F0;
                        }
                    }
                }
            }
        }
    }

    &__phone {
        margin: 0 0 0 auto;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 18px;
        font-weight: 500;

        .icon {
            fill: $c-primary;
        }
    }

    // Sidebbar 

    &__sidebar {
        height: 182px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .js-close-header {
            display: none;
        }
    }

    @media screen and (max-width: 800px) {

        &__main {
            top: 0;
            position: relative;
        }

        &__menu {
            width: auto;
        }

        &__burger {
            display: block;
            width: 40px;
            height: 40px;
            padding: 4px;
        }

        &__cart {
            width: 48px;
            height: 48px;
            background-color: $c-100-gray;
            border-radius: 50%;

            .t-caption-label {
                display: none;
            }
        }

        &__searchbar {
            margin: 0 8px 0 auto;
            flex-grow: 0;
            width: 48px;
            padding: 0;
            overflow: hidden;
            border-radius: 24px;
            transition: width .6s cubic-bezier(0, 1.1, 0.57, 0.99);


            .leading_icon {
                left: 0;
                background-color: $c-100-gray;
                width: 48px;
                height: 48px;
                padding: 12px;
                fill: $c-700-gray;
            }

            .trailing_icon {
                display: none;
            }

            &.active {
                position: absolute;
                margin: 0;
                right: 72px;
                width: calc(100% - 128px);
                z-index: 200;
                border-radius: 16px;

                .leading_icon {
                    width: 24px;
                    height: 24px;
                    padding: 0;
                    border-radius: initial;
                    left: 16px;
                    background: none;
                    fill: $c-primary;
                }

                .trailing_icon {
                    display: block;
                }

                &~.header__menu {
                    margin: 0 0 0 auto;
                }
            }
        }

        // Sidebar
        &__overlay {
            transition: opacity .6s;
            pointer-events: none;
        }

        &__overlay.active {
            position: fixed;
            pointer-events: auto;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 900;
            background-color: #00000063;
            opacity: 1;
        }

        &__sidebar {
            position: fixed;
            top: 0;
            left: min(-70vw, -284px);
            width: max(70vw, 284px);
            height: 100vh;
            background-color: #fff;
            z-index: 1000;
            justify-content: start;
            padding: 16px;
            transition: left .6s cubic-bezier(0, 1.1, 0.57, 0.99);

            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 4px;
                background: #ddd;
                border-radius: 2px;
                /* width of the entire scrollbar */
            }

            &::-webkit-scrollbar-thumb {
                background-color: #565656;
                border-radius: 2px;
            }

            .wrapper {
                width: auto;
                padding: 0;
            }

            &.active {
                left: 0;
            }

            .js-close-sidebar {
                display: block;
                position: absolute;
                top: 24px;
                right: 36px;
                z-index: 1010;
            }
        }

        &__personal {
            position: static;

            &-menu {
                position: static;
                width: 65%;
                justify-content: space-between;
                flex-flow: row wrap;
                gap: 8px 4px;
                margin: 0 0 24px 0;

                .header__menu-item {
                    flex-grow: 1;
                    padding: 4px 8px;
                    flex-direction: row;
                    gap: 8px;
                    border-radius: 8px;
                    border: 1px solid #E8E8E8;

                    &:first-child {
                        order: 1;
                    }


                    .fav_count {
                        right: -12px;
                    }
                }
            }
        }

        &__navigator {
            order: initial;
            flex-grow: 1;

            .wrapper {
                flex-direction: column;
                align-items: start;
                height: 100%;
                gap: 16px;
            }
        }

        &__catalog {

            width: 100%;
            flex-grow: 1;

            .js-catalog {
                display: none;
            }

            .catalog {
                position: initial;
                min-width: auto;
                height: auto;
                display: block;

                &__title {
                    &:hover {
                        background: none;
                    }

                    &~.catalog__categories-list {
                        visibility: initial;
                    }
                }

                &__item {
                    display: flex;
                    height: 50px;
                    flex-direction: column;
                    overflow: hidden;
                    transition: height .3s;

                    &.active {
                        height: 410px;

                        .catalog__title .icon {
                            transform: rotate(90deg);
                        }
                    }

                    &:not(:last-child).active {
                        .catalog__title {
                            border-bottom: 1px solid $c-100-gray;
                        }

                    }

                    &:last-child.active {
                        .catalog__title {
                            border-top: 1px solid $c-100-gray;
                        }
                    }
                }

                &__title {
                    height: 50px;
                    width: auto;
                    display: flex !important;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 0;

                    .icon {
                        display: block;
                    }
                }

                &__categories {
                    &-list {
                        display: flex;
                        position: initial;
                        padding: 8px;
                    }

                    &-item {
                        a {
                            padding: 4px;
                        }
                    }
                }
            }

            a:hover {
                background: none !important;
            }
        }

        &__nav {
            .nav {
                &__list {
                    flex-wrap: wrap;
                }
            }
        }

        &__phone {
            margin: 32px 0;
        }

        &__info {
            order: initial;
        }

        &__contact {
            margin: 0;
        }
    }
}